{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "singleAttributePerLine": true,
    "proseWrap": "preserve",

    "overrides": [
        {
            "files": "*.css",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
