<meta charset="UTF-8" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
/>
<meta
    name="author"
    content="Jeremie Nallet"
/>
<meta
    name="robots"
    content="index, follow"
/>
<meta
    name="keywords"
    content="front-end, developer, ui design, ux design, javascript, css, creative, portfolio, typsscript, performance, animations"
/>
<meta
    name="description"
    content="Hello, I'm Jérémie Nallet, a self-taught front-end developer from France,
    passionate about crafting beautiful web and mobile experiences."
/>
<meta
    property="og:url"
    content="https://wwww.jeremienallet.com/"
/>
<meta
    property="og:type"
    content="website"
/>
<meta
    property="og:title"
    content="Jeremie Nallet | Front-End developer"
/>
<meta
    property="og:description"
    content="Hello, I'm Jérémie Nallet, a self-taught front-end developer from France,
    passionate about crafting beautiful web and mobile experiences."
/>
<meta
    property="og:image"
    content="https://jeremienallet.com/images/og-image.webp"
/>
<meta
    name="twitter:card"
    content="summary_large_image"
/>
<meta
    property="twitter:domain"
    content="https://wwww.jeremienallet.com/"
/>
<meta
    property="twitter:url"
    content="https://wwww.jeremienallet.com/"
/>
<meta
    name="twitter:title"
    content="Jeremie Nallet | Front-End developer"
/>
<meta
    name="twitter:description"
    content="Hello, I'm Jérémie Nallet, a self-taught front-end developer from France,
    passionate about crafting beautiful web and mobile experiences."
/>
<meta
    name="twitter:image"
    content="https://jeremienallet.com/images/og-image.webp"
/>
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="icon/apple-touch-icon.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="icon/favicon-32x32.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="icon/favicon-16x16.png"
/>
<link
    rel="manifest"
    href="icon/site.webmanifest"
/>
