<section
    id="about"
    class="about grid-base r-about"
    data-section="about"
>
    <p class="about__side-title u-fs-body">
        <span>So &mdash; Who's Talking ?</span>
    </p>

    <div class="about__intro u-w-body">
        <h2 class="about__title">{{about.intro}}</h2>

        <p class="about__body u-fs-body">{{about.body1}}</p>

        <p class="about__body u-fs-body">{{about.body2}}</p>

        <p class="about__body u-fs-body">{{about.body3}}</p>
    </div>

    <div class="about__accordion">
        <include src="./src/templates/accordion.html"></include>
    </div>
</section>
