<div class="cursor">
    <div class="cursor__bubble">
        <span class="cursor__text-bubble"></span>
    </div>

    <div class="cursor__circle">
        <svg
            class="cursor__circle-path"
            viewBox="0 0 200 200"
        >
            <circle
                cx="100"
                cy="100"
                r="90"
            />
        </svg>
    </div>

    <div class="cursor__dot">
        <svg
            class="cursor__svg"
            width="50"
            height="50"
            viewBox="0 0 50 50"
        >
            <circle
                class="cursor__dot-path"
                cx="25"
                cy="25"
                r="3.3"
            />
        </svg>
    </div>
</div>
