<footer
    id="contact"
    data-section="contact"
    class="footer game-area"
>
    <div class="footer__wrapper">
        <div class="ribbon">
            <div class="ribbon__content">
                <span class="ribbon__text-item">Contact,&nbsp;</span>
            </div>
            <div class="ribbon__content">
                <span class="ribbon__text-item">Contact,&nbsp;</span>
            </div>
            <div class="ribbon__content">
                <span class="ribbon__text-item">Contact,&nbsp;</span>
            </div>
        </div>

        <div class="footer__content grid-base">
            <nav class="footer__social u-fs-body u-fs-body--invert">
                <span
                    class="footer__link resume__open link"
                    data-cursor-hover="stick"
                >
                    resume
                </span>
                <a
                    target="_blank"
                    class="footer__link link"
                    data-cursor-hover="stick"
                    href="https://fr.linkedin.com/in/j%C3%A9r%C3%A9mie-nallet-453b65193/"
                    >linkedIn</a
                >
                <a
                    target="_blank"
                    class="footer__link link"
                    data-cursor-hover="stick"
                    href="https://www.instagram.com/jeremie_nallet/"
                    >instagram</a
                >
            </nav>

            <div class="footer__bottom">
                <div class="footer__slider-wrapper">
                    <div class="footer__slider-item game-off">
                        <h5 class="u-block">
                            I'm actively looking for a full-time position as a front-end developer.
                        </h5>

                        <h5 class="u-block">
                            Feel free to say hi or drop a line, I'd love to hear from you!
                        </h5>

                        <span class="game-info blink">(Hold click if you are bored) </span>
                    </div>

                    <div class="footer__slider-item game-on">
                        <div class="snake__score">
                            <span class="snake__score-title">score :</span>
                            <span class="snake__score-wins">0</span>
                        </div>

                        <span>Use arrow keys or click anywhere to guide the snake. </span>

                        <span class="game-info blink">(hold click to stop)</span>
                    </div>
                </div>

                <a
                    href="mailto:jeremienallet@gmail.com"
                    data-cursor-bubble='["Copy email", "--color-bg", "--color-mat"]'
                    class="footer__email"
                >
                    jeremienallet@gmail.com
                </a>
            </div>
        </div>
    </div>
</footer>
