<header class="header u-fs-body">
    <div class="header__container grid-base">
        <h1 class="header__brand r-header-part">
            <a
                href="/"
                data-cursor-hover="stick"
                data-link="intro"
                >Jérémie Nallet</a
            >
        </h1>

        <include src="./src/templates/pager.html"></include>

        <nav class="header__nav r-header-part">
            <a
                class="header__link"
                data-cursor-hover="stick"
                href="#about"
                data-link="about"
                >about</a
            >
            <a
                class="header__link"
                data-cursor-hover="stick"
                href="#project"
                data-link="project"
                >project</a
            >
            <a
                class="header__link"
                data-cursor-hover="stick"
                href="#contact"
                data-link="contact"
                >contact</a
            >
        </nav>

        <div class="header__cp r-header-part">temporary folio &copy;2023</div>
    </div>
</header>
