<div class="loader">
    <div class="loader__wrapper">
        <div class="loader__header grid-base">
            <div class="loader__name u-overflow-h">
                <div class="r-header-item">Jérémie Nallet</div>
            </div>

            <div class="loader__role">
                <div class="u-overflow-h">
                    <div class="r-header-item">ui designer,</div>
                </div>

                <div class="u-overflow-h">
                    <div class="r-header-item">font-end developer</div>
                </div>
            </div>
        </div>

        <div class="loader__center-desktop r-center">
            <div class="u-overflow-h">
                <div class="text-split r-title">temporary /folio</div>
            </div>

            <div class="u-overflow-h">
                <div class="text-split r-title loader__digit-size">&copy;2023.</div>
            </div>
        </div>

        <div class="loader__center-mobile r-center">
            <div class="u-overflow-h">
                <div class="text-split year r-title">&copy; 2023</div>
            </div>

            <div class="u-overflow-h">
                <div class="text-split r-title">temporary</div>
            </div>

            <div class="u-overflow-h">
                <div class="text-split r-title">folio :</div>
            </div>
        </div>

        <div class="loader__bottom">
            <div class="loader__rolling-text r-rolling">
                <span>loaded</span>
                <span>welcome</span>
            </div>

            <div class="loader__slider r-slider">
                <div class="loader__digit-group loader__digit-size prev">
                    <span class="loader__digit prev">0</span>
                    <span class="loader__digit prev"></span>
                    <span class="loader__digit prev"></span>
                </div>

                <div class="loader__digit-group loader__digit-size next">
                    <span class="loader__digit next">
                        <span class="loader__perc">0%</span>
                    </span>
                    <span class="loader__digit next"></span>
                    <span class="loader__digit next"></span>
                </div>
            </div>
        </div>
    </div>
</div>
