<div class="pager r-header-part">
    <div class="pager__container">
        <span class="pager__title">scroll down</span>
        <div class="pager__inner-container">
            <div class="pager__section-group">
                <div class="pager__section">
                    <span class="pager__section-title">about</span>
                    <span class="pager__section-nb">01</span>
                </div>
                <div class="pager__section">
                    <span class="pager__section-title">projects</span>
                    <span class="pager__section-nb">02</span>
                </div>
                <div class="pager__section">
                    <span class="pager__section-title">contact</span>
                    <span class="pager__section-nb">03</span>
                </div>
            </div>
            <div>/</div>
            <div>03</div>
        </div>
    </div>
</div>
