<div
    style="display: none"
    class="resume"
>
    <button
        aria-label="close"
        title="close"
        data-cursor-hover="ring"
        class="resume__close"
    >
        <img
            loading="lazy"
            src="/svgs/cross.svg"
            alt="close"
        />
    </button>

    <div class="resume__img-container">
        <img
            loading="lazy"
            alt="resume"
            data-cursor-bubble='["Download PDF", "--color-mat", "--color-bg"]'
            class="resume__img"
            src="images/resume.png"
        />
    </div>
</div>
