<div class="synergy grid-base">
    <div class="synergy__circle-group">
        <div class="synergy__circle-container">
            <span class="synergy__circle-name concept-circle">(ui/ux design)</span>

            <svg viewBox="0 0 400 400">
                <circle
                    class="synergy__circle"
                    cx="200"
                    cy="200"
                    r="199"
                    fill="transparent"
                />
            </svg>
        </div>

        <div class="synergy__circle-container">
            <span class="synergy__circle-name">(interactivity)</span>

            <canvas class="canvas__draw"></canvas>

            <svg viewBox="0 0 400 400">
                <circle
                    class="synergy__circle"
                    cx="200"
                    cy="200"
                    r="199"
                    fill="transparent"
                />
            </svg>
        </div>

        <div class="synergy__circle-container">
            <span class="synergy__circle-name">(development)</span>

            <svg
                data-rotation
                viewBox="0 0 400 400"
            >
                <circle
                    class="synergy__circle"
                    cx="200"
                    cy="200"
                    r="199"
                    stroke-dasharray="20, 9"
                    fill="transparent"
                />
            </svg>
        </div>
    </div>
</div>
